@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Slabo+13px&display=swap');

@import "tailwindcss";

.container-size {
  max-width: 1750px;
  margin: auto;
}

body {
  font-family: "Inter", sans-serif;
}

.heading-font {
  font-family: "Slabo 13px", serif;
}

.nav-li {
  font-size: 17px;
  color: #314158;
  font-weight: 600;
  transition: color 0.3s ease;
}

.nav-li:hover {
  color: #234f1e;
}

html {
  scroll-behavior: smooth;
}
section {
  scroll-margin-top: 90px;
}